html {
    background-image : url(https://img2.goodfon.ru/original/1366x768/e/40/nissan-r35-gtr-white-lights.jpg);
    background-size: 100%;
}
header {
    text-align: center;
}
header a {
    text-decoration: none;
}
header a:active {
    color: black;
}
header a:visited {
    color: black;
}
nav {
    margin-left: 35%;
    margin-right: 35%;
    padding: 0;
    width: 30%;

}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0

}
nav li {
    display: inline;
}
nav a {
    float: left;
    width: 33.3%;
    height: 30px;
    background-color: #cc0033;
    text-decoration: none;
    text-align: center;
    padding: 0;
    padding-top: 10px;
    font-size: 18px;
    color: #ffffff
}
nav a:hover {
    background-color: #990033;
    color: Tomato

}
description {

    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
}
description p {
    background: rgba(0, 0, 0, 0);
    padding: 5px;
    text-align: center;
    font-size: 22px;
    color: black;
}